<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>springboot-thymeleaf demo</title>
</head>

<body background="http://public-oss.xiaohe97.com/002_2.jpg">
    <p th:text="'hello, ' + ${name} + '!'" />
    <div th:object="${info}">
        <p th:text = "${name}"/>
        <a th:href="@{/tutorial/getInfo(name=${name})}">获取所有用户信息</a>
    </div>
    <li th:each="info:${infos}" th:text="${info.name}">list test</li>

    <form th:action="@{/user/save}" th:object="${user}" method="POST">
        <label>id</label>
        <input type="text" th:field="*{id}" value="" /><br/>

        <label>名字:</label>
        <input type="text" th:field="*{name}" value="xx" /> <br/>

        <label>url:</label>
        <input type="text" th:field="*{url}" value="198" /><br/>

        <input type="submit" value="提交"/>
    </form>

    <table th:object="${users}">
        <thead>
            <tr>
                <th>序号</th>
                <th>名字</th>
                <th>链接</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.name}">2</td>
                <td th:text="${user.url}">3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>