html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
a {
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  outline: none;
}
.jqac-menu {
  width: 400px;
  color: black;
  background-color: white;
  border: 1px solid #aaa;
  border-top: none;
  line-height: 24px;
  font-size: 13px;
  color: #8a8a8a;
  margin-top: 24px;
  padding: 12px;
}
.jqac-menu .jqac-highlight {
  background-color: #eee;
}
/* unordered list for suggestions */
.jqac-menu ul {
  list-style: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
}
/* SPAN "link" */
.jqac-menu .jqac-link {
  cursor: hand;
  cursor: pointer;
  display: block;
}
/* warning for no results */
.jqac-menu .jqac-warning {
  font-style: italic;
}
/* loading for AJAX get */
.jqac-menu .jqac-loading {
  text-decoration: blink;
}
/* matched sub-string */
.jqac-menu em {
  text-decoration: underline;
}
/* suggestion info */
.jqac-menu .jqs-info {
  text-align: right;
  color: #666;
}
.markdown {
  word-wrap: break-word;
}
.markdown,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown pre,
.markdown code,
.markdown blockquote,
.markdown em,
.markdown strong,
.markdown code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: consolas, monaco, courier, "courier new", fixed-width;
  color: #333333;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown pre,
.markdown code,
.markdown blockquote,
.markdown ol,
.markdown ul,
.markdown li,
.markdown p,
.markdown section,
.markdown header,
.markdown footer {
  float: none;
  margin: 0;
  padding: 0;
}
.markdown h1,
.markdown p,
.markdown ul,
.markdown ol,
.markdown pre,
.markdown blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.markdown h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
.markdown h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
.markdown h1 + * {
  margin-top: 0;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  margin-bottom: 20px;
}
.markdown h2 {
  font-size: 24px;
  margin: 20px 0 10px;
  color: black;
  border-bottom: 1px solid #ccc;
}
.markdown h3 {
  font-size: 18px;
  color: black;
  border-bottom: 1px solid #CCC;
  margin: 20px 0 10px;
}
.markdown h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 10px;
}
.markdown h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px;
}
.markdown h6 {
  color: #777;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px;
}
.markdown li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
.markdown li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.markdown ul > li:after {
  content: "*";
}
.markdown ol {
  counter-reset: ol;
}
.markdown ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.markdown pre {
  margin-left: 34px;
  padding-left: 4ch;
}
.markdown blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.markdown blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
.markdown strong:before,
.markdown strong:after {
  content: "__";
  display: inline;
}
.markdown em:before,
.markdown em:after {
  content: "*";
  display: inline;
}
.markdown a {
  text-decoration: none;
}
.markdown a:before {
  content: "[";
  display: inline;
  color: #333333;
}
.markdown a:after {
  content: "](" attr(href) ")";
  display: inline;
  color: #333333;
}
.markdown code {
  font-weight: 100;
}
.markdown code:before,
.markdown code:after {
  content: "`";
  display: inline;
}
.markdown pre code:before,
.markdown pre code:after {
  content: none;
}
.markdown hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
.markdown hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .markdown h1 {
    display: block;
  }
}
.markdown-ones ol > li:after {
  content: "1.";
}
.markdown {
  border-top: 1px solid #f2f2f2;
}
.markdown:before {
  content: '';
  display: block;
  clear: both;
}
.markdown h1 {
  font-size: 18px;
  font-weight: bold;
}
.markdown h2 {
  font-size: 16px;
  font-weight: bold;
}
.markdown h3 {
  font-size: 14px;
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
#knowledge-new-reply-preview {
  padding: 0 78px;
}
table td {
  line-height: 2em;
}
input,
button,
select,
textarea {
  outline: none;
}
a {
  color: #000;
}
html {
  background: #f0f0f0 url(../images/bg.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  font-size: 13px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "ST Heiti", "LiHei Pro Medium", "Microsoft Jhenghei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei";
}
body {
  min-height: 100%;
}
#msg {
  display: none;
  width: 180px;
  padding-top: 80px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95) url(../images/important.png) no-repeat center 15px;
  border: 2px solid #0099ff;
  position: fixed;
  z-index: 10000;
  top: 60px;
  left: 50%;
  margin-left: 270px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #8a8a8a;
}
#msg.error {
  background-image: url(../images/wrong.png);
}
#msg.success {
  background-image: url(../images/accepted.png);
}
#msg a {
  color: #8a8a8a;
}
#msg .title {
  font-size: 13px;
  color: #0099ff;
}
#msg .link {
  padding-top: 15px;
}
#msg .link:hover {
  color: #000;
}
#wrap {
  margin: 75px auto 25px auto;
  width: 900px;
}
.placeholder {
  color: #8a8a8a;
}
:-moz-placeholder {
  color: #8a8a8a;
}
::-webkit-input-placeholder {
  color: #8a8a8a;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.section {
  color: #333333;
}
.section + .section {
  border-top: 1px solid #e5e5e5;
}
.even-section {
  background: #fafafa;
  background: rgba(255, 255, 255, 0.65);
}
.odd-section {
  background: #fff;
}
.bar {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 0;
  line-height: 1.5em;
  overflow: hidden;
}
.bar .title {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  color: #000;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  height: 48px;
  line-height: 48px;
}
.bar ul {
  float: right;
  text-align: right;
  padding-right: 3em;
}
.bar ul li {
  font-size: 12px;
  color: #8a8a8a;
}
.bar ul li a {
  color: #8a8a8a;
}
.bar ul li a:hover {
  color: #000000;
}
.bar ul:after {
  clear: both;
  content: '';
  display: block;
}
.bar + .sub-bar {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.bar + .content {
  border-top: 1px solid #e6e6e6;
}
.bar + .talk-item {
  border-top: 1px solid #e5e5e5;
}
.sub-bar {
  padding-left: 20px;
  line-height: 50px;
  height: 50px;
  padding: 0 25px;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: normal;
}
.sub-bar a {
  color: #8a8a8a;
}
.sub-bar .title {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}
.sub-bar .title a {
  color: #333333;
}
.change-page.dropdown-menu.no-dropdown-menu .right {
  padding-right: 20px;
}
.row {
  background: transport;
  padding-left: 25px;
  line-height: 40px;
}
.row.even {
  background: #fff;
}
.row.odd {
  background: transport;
}
.row span {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rows .title {
  font-weight: bold;
}
.rows li {
  background: transport;
  padding-left: 25px;
  line-height: 40px;
}
.rows li.even {
  background: #fff;
}
.rows li.odd {
  background: transport;
}
.rows li span {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.button-s {
  display: inline-block;
  overflow: hidden;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.button-s:hover img {
  top: -7.2px;
}
.button-s img {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  position: relative;
  top: -10.285714285714286px;
}
.button-l {
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin: 0 5px;
}
.button-l:hover img {
  top: -10px;
}
.button-l img {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  position: relative;
  top: -14.285714285714286px;
}
.icon {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 7px;
}
.dropdown-menu {
  width: 200px;
  display: inline-block;
  position: relative;
  left: -10px;
  vertical-align: top;
  z-index: 400;
  max-height: 50px;
  overflow: hidden;
}
.dropdown-menu .right {
  padding-right: 20px;
}
.dropdown-menu .before {
  position: relative;
  top: -20px;
  height: 32px;
  overflow: hidden;
}
.dropdown-menu .after {
  line-height: 24px;
  font-size: 12px;
}
.dropdown-menu .after .subtitle {
  line-height: 50px;
  font-size: 12px;
}
.dropdown-menu .after .full-button {
  position: relative;
  width: 210px;
  left: -45px;
}
.dropdown-menu .after p {
  max-width: 150px;
}
.dropdown-menu:hover {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  max-height: 700px;
}
.dropdown-menu:hover .before {
  top: -70px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown-menu:hover .after {
  background: rgba(255, 255, 255, 0.85);
  z-index: 401;
  position: relative;
  top: -68px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown-menu:hover img.icon {
  top: 19px;
}
.dropdown-menu img.icon {
  display: block;
  position: relative;
  z-index: 402;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown-menu .before,
.dropdown-menu .after {
  padding-left: 45px;
  display: inline-block;
  width: 170px;
}
.dropdown-menu .extra-bar {
  font-size: 11px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #f2f2f2;
  position: relative;
  top: 25px;
  left: -55px;
  width: 220px;
}
.dropdown-menu .extra-bar .button-s {
  float: right;
  margin-right: 5px;
}
.dropdown-menu .em {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
}
.no-dropdown-menu {
  width: 210px;
  display: inline-block;
  position: relative;
  left: -10px;
  vertical-align: top;
  z-index: 400;
  max-height: 50px;
  overflow: hidden;
}
.no-dropdown-menu .right {
  padding-right: 20px;
}
.no-dropdown-menu .before {
  position: relative;
  top: -20px;
  height: 32px;
  overflow: hidden;
}
.no-dropdown-menu .after {
  line-height: 24px;
  font-size: 13px;
}
.no-dropdown-menu .after .subtitle {
  line-height: 50px;
  font-size: 13px;
}
.no-dropdown-menu .after p {
  max-width: 150px;
}
.no-dropdown-menu img.icon,
.no-dropdown-menu .icon-stack {
  display: block;
  position: relative;
  z-index: 402;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
}
.no-dropdown-menu .before,
.no-dropdown-menu .after {
  padding-left: 45px;
  display: inline-block;
  width: 170px;
}
.no-dropdown-menu .extra-bar {
  font-size: 11px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #f2f2f2;
  position: relative;
  top: 25px;
  left: -55px;
  width: 220px;
}
.no-dropdown-menu .extra-bar .button-s {
  float: right;
  margin-right: 5px;
}
.no-dropdown-menu .em {
  padding-top: 10px;
  color: #000;
}
.chart {
  padding-top: 5px;
}
.chart div {
  padding: 0 0 0 5px;
  margin: 0 0 10px 5px;
  line-height: 14px;
}
.content {
  color: #333333;
  padding: 25px;
  width: 850px;
}
.content .item {
  padding-bottom: 20px;
}
.content .item .item-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
}
.content .item p {
  text-indent: 2em;
  line-height: 2em;
}
.content .em {
  color: #000;
}
.content textarea {
  margin-left: 20px;
  display: block;
  width: 370px;
  padding: 10px;
  border: 1px solid #8a8a8a;
  height: 100px;
}
.ac {
  color: #00e645;
}
.wa {
  color: #ff0037;
}
.ce {
  color: #f19149;
}
.more {
  background: #fafafa;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  color: #8a8a8a;
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
}
.pager {
  color: #555;
  text-align: right;
  padding: 8px 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}
.pager li {
  cursor: pointer;
  display: inline-block;
  min-width: 20px;
  max-width: 50px;
  text-align: center;
}
.talk-item {
  margin-bottom: 25px;
  padding: 12px;
  background: #fff;
}
.talk-item:after {
  display: block;
  content: ' ';
  clear: both;
}
.talk-item .ava {
  vertical-align: top;
  float: left;
  width: 48px;
  margin-right: 10px;
}
.talk-item .ava img {
  max-width: 100%;
}
.talk-item .talk-content {
  width: 100%;
  vertical-align: top;
  width: 850px;
  float: left;
  line-height: 24px;
  color: #555;
}
.talk-item .talk-content .infobar {
  margin-left: 5px;
  float: left;
  width: 716px;
}
.talk-item .talk-content .infobar .left {
  float: left;
  padding-left: 12px;
  color: #a8a8a8;
}
.talk-item .talk-content .infobar .left span {
  padding-right: 12px;
}
.talk-item .talk-content .infobar .left a {
  color: #a8a8a8;
}
.talk-item .talk-content .infobar .right {
  float: right;
  color: #a8a8a8;
}
.talk-item .talk-content .infobar .right span {
  padding-left: 12px;
}
.talk-item .talk-content .infobar .talk-text {
  margin-top: 26px;
  margin-left: 8px;
  color: #000000;
}
.talk-item .talk-content .infobar .clear {
  padding: 5px;
}
.talk-item .talk-content .infobar .thread-reply {
  cursor: pointer;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: #f2f2f2;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  height: 45px;
  overflow: hidden;
}
#nav a {
  color: #f2f2f2;
}
#nav ul {
  padding-left: 20px;
  padding-right: 20px;
  width: 900px;
  margin: 0 auto;
}
#nav li {
  float: left;
}
#nav li.tab {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}
#nav li.tab a {
  line-height: 41px;
  padding: 10px 20px;
}
#nav li.tab:hover {
  background: #4c4c4c;
}
#nav li.tab.current {
  border-bottom: 2px solid #4c4c4c;
}
#nav #logo {
  margin-top: 12px;
  margin-right: 15px;
}
#nav #logo #logo-img {
  padding-right: 5px;
  padding-top: 3px;
}
#nav #logo #switch-group {
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 10px;
}
#nav #user {
  float: right;
  margin-top: 6px;
}
#nav #user .info {
  float: left;
  font-size: 12px;
}
#nav #user .info:after {
  clear: both;
  content: '';
  display: block;
}
#nav #user .info .main,
#nav #user .info .sub {
  text-align: right;
}
#nav #user .info .main {
  font-size: 13px;
  padding-bottom: 5px;
}
#nav #user .img {
  float: left;
  margin-left: 8px;
  display: none;
  cursor: pointer;
  overflow: hidden;
  height: 32px;
  width: 32px;
  text-align: center;
}
#nav #user .img img {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  margin: 0;
}
#nav:after {
  content: '';
  display: block;
  clear: both;
}
#search-box {
  margin-top: 11px;
  margin-left: 30px;
  width: 150px;
  overflow: hidden;
  height: 23px;
  background: #373737;
  background: rgba(255, 255, 255, 0.2);
}
#search-box:hover {
  background: rgba(255, 255, 255, 0.3);
}
#search-box #search {
  width: 100px;
  height: 13px;
  padding: 5px;
  background: transparent;
  border: none;
  color: white;
}
#search-box #search-icon {
  cursor: pointer;
  float: right;
  width: 24px;
  height: 24px;
  background: url(../images/search.png) right center no-repeat;
}
#setting-bar ul > li {
  float: left;
  margin-right: 2em;
}
#setting-section strong {
  line-height: 3em;
}
#setting-section .content table {
  width: 500px;
  margin-bottom: 2em;
}
#setting-section .content table th {
  text-align: left;
  height: 2em;
}
#setting-section .content table th .hide-link {
  visibility: hidden;
}
#setting-section .content table:hover .hide-link {
  visibility: visible;
}
#footer {
  width: 900px;
  font-family: "Hiragino Sans GB", "ST Heiti", "LiHei Pro Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei";
  color: #8a8a8a;
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  padding-top: 60px;
  padding-bottom: 20px;
}
#footer a {
  font-family: "Hiragino Sans GB", "ST Heiti", "LiHei Pro Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei";
  color: #8a8a8a;
}
#up {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 100px;
  bottom: 100px;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  opacity: 0.3;
}
#up.hide,
#up.hide:hover {
  opacity: 0;
}
#up:hover {
  opacity: 1;
}
#feedback {
  padding-bottom: 30px;
}
#feedback p {
  padding-bottom: 15px;
}
#feedback textarea {
  margin: 20px 0;
  width: 800px;
}
#feedback input {
  width: 200px;
  height: 20px;
}
#feedback .bar {
  padding: 28px 25px;
}
#not-found .bar {
  padding: 28px 25px;
}
#not-found .info {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
#not-found ul {
  line-height: 2em;
  list-style: disc;
  font-weight: bold;
}
#not-found ul li {
  font-weight: normal;
  padding-top: 0.5em;
  margin-left: 2em;
  list-style: disc;
}
#about .bar {
  padding: 28px 25px;
}
#about ul {
  text-indent: 2em;
  line-height: 2em;
  font-weight: bold;
}
#about ul li {
  font-weight: normal;
  padding-top: 0.5em;
}
#legal .bar {
  padding: 28px 25px;
}
#legal ul {
  text-indent: 2em;
  line-height: 2em;
}
#legal ul li {
  padding-top: 0.5em;
}
#help .bar {
  padding: 28px 25px;
}
#help .info {
  padding: 0 20px;
  font-size: 15px;
  color: #000;
}
#help ul {
  line-height: 2em;
  padding-bottom: 2em;
}
#help ul li {
  margin-left: 2em;
  line-height: 2em;
  list-style: disc;
}
#help ul li:first-child {
  padding-top: 0em;
}
.pro-code-please-login {
  padding: 20px;
  font-size: 14px;
}
#pro-list-sort-bar span {
  cursor: pointer;
}
#pro-list-ul {
  background: transport;
  color: #555;
  font-size: 13px;
}
#pro-list-ul .pro-list-item {
  line-height: 40px;
  padding-left: 25px;
}
#pro-list-ul .pro-list-item:after {
  clear: both;
  display: block;
  content: '';
}
#pro-list-ul .pro-list-item span {
  float: left;
  overflow: hidden;
  padding-right: 3px;
  display: inline-block;
}
#pro-list-ul .pro-list-item .id {
  width: 60px;
}
#pro-list-ul .pro-list-item .status {
  width: 80px;
}
#pro-list-ul .pro-list-item .name {
  width: 300px;
}
#pro-list-ul .pro-list-item .tags {
  width: 230px;
}
#pro-list-ul .pro-list-item .acs {
  width: 50px;
}
#pro-list-ul .pro-list-item .acr {
  width: 70px;
}
#pro-list-ul .pro-list-item .quality {
  width: 60px;
}
#pro-list-ul .pro-list-item .unsubscribe {
  width: 60px;
  cursor: pointer;
}
#pro-list-ul .pro-list-item.title {
  font-weight: bold;
}
#pro-list-ul .pro-list-item.odd {
  background: #fff;
}
#pro-list-ul .pro-list-item.even {
  background: transport;
}
#pro-list-tag-sort {
  display: none;
  padding: 0 25px;
  line-height: 18px;
  background: #f0f0f0;
  color: #acacac;
}
#pro-list-tag-sort > div {
  overflow: hidden;
}
#pro-list-tag-sort .label {
  width: 50px;
  float: left;
  margin: 10px auto;
  color: #8a8a8a;
}
#pro-list-tag-sort ul {
  width: 770px;
  float: right;
  margin: 10px auto;
}
#pro-list-tag-sort li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
#pro-list-tag-sort li.selected {
  background: #0099ff;
  color: #fff;
  cursor: pointer;
}
#pro-list-more {
  height: 40px;
  background: #fff;
  text-align: center;
  color: #8a8a8a;
  line-height: 40px;
  border-top: 1px solid #f0f0f0;
}
#problem-submit-bar #language {
  font-size: 14px;
  padding-left: 36px;
  width: 170px;
  font-weight: normal;
}
#problem-submit-bar .operation-icon {
  float: right;
  padding: 0;
  width: 130px;
  height: 50px;
  overflow: hidden;
}
#problem-submit-bar .operation-icon a {
  display: inline-block;
  width: 56px;
  padding: 0;
  margin: 0;
}
#language-bar {
  background: #ccc;
  color: #fff;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  width: 900px;
}
#language-bar span {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}
#language-bar span:hover {
  background: #bbb;
}
#language-bar .current {
  background: #8a8a8a;
}
#language {
  cursor: pointer;
}
#editor {
  height: 275px;
  width: 900px;
}
#problem-detail-talk ul {
  padding: 10px 20px;
}
#problem-detail-talk li {
  line-height: 40px;
  font-size: 11px;
  color: #bdbdbd;
}
#problem-detail-talk li a {
  color: #8a8a8a;
  font-size: 13px;
}
#problem-detail-talk-add textarea {
  border: 1px solid #8a8a8a;
  padding: 12px;
  width: 826px;
  margin: 20px;
  height: 300px;
  outline: none;
}
textarea#problem-talk-add-title {
  height: 24px;
}
#problem-talk-add-type {
  margin-left: 200px;
  cursor: pointer;
}
#contest-my-score ul li.title {
  font-weight: bold;
}
#contest-my-score ul li span {
  display: inline-block;
}
#contest-my-score ul li .sid {
  width: 60px;
}
#contest-my-score ul li .pid {
  width: 60px;
}
#contest-my-score ul li .order {
  width: 50px;
}
#contest-my-score ul li .name {
  width: 300px;
}
#contest-my-score ul li .author {
  width: 70px;
}
#contest-my-score ul li .result {
  width: 100px;
}
#contest-rank li .no {
  width: 70px;
}
#contest-rank li .uid {
  width: 70px;
}
#contest-rank li .username {
  width: 200px;
}
#contest-rank li .nick {
  width: 220px;
}
#contest-rank li .nick a {
  color: #8a8a8a;
  font-size: 11px;
}
#contest-rank li .score,
#contest-rank li .a,
#contest-rank li .b,
#contest-rank li .c {
  width: 60px;
}
#contest-info-bar-before .select span {
  color: #8a8a8a;
  cursor: pointer;
  padding: 5px;
  width: 50px;
}
#contest-info-bar-before .select span.selected,
#contest-info-bar-before .select span:hover {
  border-bottom: 2px solid #8a8a8a;
}
.contest-list-item {
  line-height: 40px;
}
.contest-list-item .id {
  width: 60px;
}
.contest-list-item .status {
  width: 80px;
}
.contest-list-item .name {
  width: 190px;
}
.contest-list-item .tags {
  width: 160px;
}
.contest-list-item .beg {
  width: 135px;
}
.contest-list-item .time {
  width: 75px;
}
.contest-list-item .pros {
  width: 70px;
}
#contest-list-more {
  height: 40px;
  background: #fff;
  text-align: center;
  color: #8a8a8a;
  line-height: 40px;
  border-top: 1px solid #f0f0f0;
}
#contest-list-sort-bar .change-page a {
  display: inline-block;
  width: 70px;
  color: #8a8a8a;
}
.discussion-list-item {
  text-align: left;
}
.discussion-list-item.title .tags {
  width: 140px;
}
.discussion-list-item.title .author,
.discussion-list-item.title .last-reply {
  position: static;
  top: 0;
  line-height: 50px;
}
.discussion-list-item span[data-date=""] {
  position: static;
  top: 0;
  line-height: 50px;
}
.discussion-list-item span {
  display: inline-block;
  line-height: 50px;
}
.discussion-list-item .date {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 18px;
}
.discussion-list-item .id {
  width: 70px;
}
.discussion-list-item .item-title {
  width: 320px;
}
.discussion-list-item .item-title300 {
  width: 300px;
}
.discussion-list-item .tags {
  width: 140px;
}
.discussion-list-item .author,
.discussion-list-item .last-reply {
  width: 100px;
  position: relative;
  line-height: 12px;
}
.discussion-list-item .reply {
  width: 50px;
}
.discussion-list-item .ding {
  width: 50px;
}
#discussion-wrap {
  width: 900px;
  background: #e8f3f9;
}
#discussion-qa .info {
  margin-right: 20px;
  display: inline;
}
#discussion-qa .click-bar {
  width: 840px;
  float: left;
  margin: 30px 30px;
  background: #fff;
  color: #555;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
#discussion-qa .click-bar.submit {
  margin-top: 15px;
}
#discussion-qa textarea {
  float: left;
  margin-left: 10px;
  width: 755px;
  border: none;
  height: 70px;
  color: #555;
}
#stat-running .sub-bar a {
  color: #000;
}
#stat-running-status {
  padding: 25px;
  color: #000;
}
#stat-running-status li {
  padding: 6px 36px;
  font-size: 13px;
  line-height: 1.5em;
}
#stat-running-status .normal {
  background: url(../images/pass.png) no-repeat left center;
}
#stat-running-status .normal:after {
  padding-left: 24px;
  font-size: 13px;
  line-height: 16px;
  color: #8a8a8a;
  content: 'Running Normally';
}
#stat-running-status .maintenance {
  background: url(../images/blank.png) no-repeat left center;
}
#stat-running-status .maintenance:after {
  padding-left: 24px;
  line-height: 16px;
  font-size: 13px;
  color: #8a8a8a;
  content: 'Under Maintenance';
}
#stat-states-sub-bar .current {
  color: #000;
}
#stat-states-sub-bar .change-page .after a {
  padding-right: 40px;
  color: #8a8a8a;
}
#stat-states-sub-bar .filter input {
  border: none;
  border-bottom: 1px dashed #8a8a8a;
  width: 120px;
  background: transparent;
  padding: 12px;
  outline: none;
}
#stat-states-sub-bar .filter .done {
  padding: 5px 0;
  height: 24px;
  line-height: 24px;
  margin: 24px 0 2px 0;
  background: #ededed;
  text-align: center;
  cursor: pointer;
}
.stat-states-list-item span {
  float: left;
}
.stat-states-list-item:after {
  content: '';
  clear: both;
  display: block;
}
.stat-states-list-item .sid {
  width: 100px;
}
.stat-states-list-item .pid {
  width: 100px;
}
.stat-states-list-item .name {
  width: 190px;
}
.stat-states-list-item .commiter {
  width: 190px;
}
.stat-states-list-item .result {
  width: 110px;
}
.stat-users-list-item {
  clear: both;
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
}
.stat-users-list-item span {
  float: left;
  width: 60px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
}
.stat-users-list-item .username {
  width: 180px;
}
.stat-users-list-item .nick a {
  color: #8a8a8a;
  font-size: 11px;
}
.stat-users-list-item .score,
.stat-users-list-item .rank,
.stat-users-list-item .acrank,
.stat-users-list-item .active,
.stat-users-list-item .punish {
  float: right;
}
#stat-users-sub-bar .change-page a {
  color: #8a8a8a;
  text-align: left;
}
html {
  scrollbar-arrow-color: #eeeeee;
  /*三角箭头的颜色*/
  scrollbar-face-color: #eeeeee;
  /*立体滚动条的颜色（包括箭头部分的背景色）*/
  scrollbar-3dlight-color: #eeeeee;
  /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #777;
  /*滚动条的高亮颜色（左阴影？）*/
  scrollbar-shadow-color: #eeeeee;
  /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #eeeeee;
  /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: #eeeeee;
  /*立体滚动条背景颜色*/
  scrollbar-base-color: #eeeeee;
  /*滚动条的基色*/
}
::-webkit-scrollbar {
  background: #eeeeee;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #777;
}
#search-section #search-section-input {
  background: #0099ff;
  border: 2px solid #fff;
  width: 600px;
  float: left;
  height: 24px;
  padding: 0;
  margin-top: 11px;
}
#search-section #search-section-input input {
  margin: 0;
  padding: 0;
  line-height: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  color: #fff;
  border: none;
  background: transparent;
  float: left;
  width: 550px;
}
#search-section #search-section-input #serach-section-input-submit {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  background: url(../img/search_icon.png);
  cursor: pointer;
}
#search-section .sub-bar span {
  cursor: pointer;
  margin-right: 2em;
}
#search-section .sub-bar span:hover {
  border-bottom: 3px solid #555;
}
#search-section .sub-bar span .hover {
  border-bottom: 3px solid #555;
}
#search-section .no-result {
  padding: 20px;
}
#search-section .serach-item {
  padding: 20px;
}
#search-section .serach-item:after {
  clear: both;
  content: ' ';
  display: block;
}
#search-section .serach-item .title {
  color: #0099ff;
  font-weight: bold;
  font-size: 13px;
}
#search-section .serach-item .title a {
  color: #0099ff;
}
#search-section .serach-item .title span.status {
  padding-left: .5em;
  display: inline-block;
  color: #8a8a8a;
  text-decoration: none;
}
#search-section .serach-item .title span.status a {
  color: #8a8a8a;
}
#search-section .serach-item .title span.status:before {
  content: "- ";
}
#search-section .serach-item .detail {
  padding-top: 1.5em;
  color: #555;
  font-size: 11px;
  text-indent: none;
  width: 600px;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}
#search-section .serach-item .detail a {
  color: #555;
}
#search-section .serach-item .info {
  margin-top: .5em;
}
#search-section .serach-item .info li {
  color: #8a8a8a;
  float: left;
  font-size: 11px;
  margin-right: 2em;
}
#search-section .serach-item .info li a {
  color: #8a8a8a;
}
.stars {
  cursor: pointer;
}
.stars .star {
  display: inline-block;
  font-size: 24px;
}
.setting-choose {
  border: 2px solid #8a8a8a;
  padding: 12px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  display: inline-block;
}
.setting-choose.on {
  color: #0099ff;
  border-color: #0099ff;
  border-left: 50px solid #0099ff;
}
.setting-choose.on:before {
  content: 'ON';
}
.setting-choose.off {
  color: #8a8a8a;
  border-color: #8a8a8a;
  border-right: 50px solid #8a8a8a;
}
.setting-choose.off:before {
  content: 'OFF';
}
.setting-select {
  background: #fff;
  outline: none;
  border: 1px solid #8a8a8a;
  width: 200px;
  display: block;
}
.setting-select select,
.setting-select option {
  background: #fff;
}
.setting-input {
  border: 1px solid #8a8a8a;
  width: 200px;
}
#setting-header {
  padding: 28px 25px;
}
#pro-status textarea,
#pro-status p {
  margin-left: 38px;
  margin-top: 12px;
  line-height: 1.3em;
  height: 2.6em;
}
#pro-status #editor {
  width: 700px;
  margin-left: 75px;
}
#rejudge,
#waiting {
  float: right;
  background-color: #09f;
  padding: 0.5em 2em;
  margin-top: -0.5em;
  cursor: pointer;
  color: white;
}
#rejudge {
  display: inline-block;
}
#waiting {
  display: none;
}
.confirm {
  display: none;
  float: right;
  padding: 0.5em 1em;
  margin-top: -0.5em;
  cursor: pointer;
  color: white;
}
#yes {
  background-color: green;
}
#no {
  background-color: red;
}
#pro-stat-running-status {
  color: #000;
}
#pro-stat-running-status li {
  padding: 6px 36px;
  font-size: 13px;
  line-height: 1.5em;
}
#pro-stat-running-status .normal {
  background: url(../images/pass.png) no-repeat left center;
}
#pro-stat-running-status .normal span {
  padding-left: 24px;
  font-size: 13px;
  line-height: 16px;
  color: #8a8a8a;
}
#pro-stat-running-status .error {
  background: url(../images/blank.png) no-repeat left center;
}
#pro-stat-running-status .error span {
  padding-left: 24px;
  line-height: 16px;
  font-size: 13px;
  color: red;
}
.index-wrap {
  width: 900px;
  margin-top: 20px;
}
.index-wrap .index-fix {
  height: 1px;
}
.index-wrap a {
  color: #191919;
}
#index-guess,
#index-message {
  width: 840px;
  height: 60px;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 30px;
}
.index-new {
  width: 840px;
  height: 110px;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 30px;
}
#index-guess-icon {
  float: left;
  height: 60px;
  width: 70px;
  background: url(../images/icon-guess.jpg) no-repeat center;
}
#index-message-icon {
  float: left;
  height: 60px;
  width: 70px;
  background: url(../images/icon-message.png) no-repeat center;
}
.index-new-icon {
  float: left;
  height: 60px;
  width: 70px;
  background: url(../images/icon-new.png) no-repeat center;
}
.index-content {
  float: left;
  width: 770px;
}
.index-content li {
  color: #9b9b9b;
  padding: 8px 5px;
  line-height: 16px;
  font-size: 13px;
}
.index-content p {
  padding: 2px 5px;
  font-size: 13px;
}
.index-content-item {
  float: left;
  width: 250px;
  padding-top: 5px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-column {
  width: 284px;
  float: left;
  margin: 0 24px;
}
.index-column:first-child,
.index-column:last-child {
  margin: 0;
}
.index-column .index-column-title {
  background: #0099ff;
  line-height: 48px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  color: #fff;
}
.index-column .index-column-ul li {
  font-size: 11px;
  color: #acacac;
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
}
.index-column .index-column-ul li em {
  line-height: 18px;
  display: block;
  font-size: 13px;
  color: #8a8a8a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#index-banner {
  width: 900px;
  height: 280px;
  background: url(../images/banner.jpg) no-repeat left center;
}
.group-intro {
  margin-bottom: 20px;
}
.group-intro p {
  padding: 10px 0;
  color: #8a8a8a;
  font-size: 11px;
  line-height: 16px;
}
#groups-list {
  padding-bottom: 20px;
}
#groups-list li {
  float: left;
  width: 210px;
  line-height: 24px;
}
#groups-list a {
  color: #8a8a8a;
}
#submit-setting {
  background: #0099ff;
  padding: 8px;
  width: 100px;
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
#settings-form {
  padding: 25px;
  padding-top: 0;
}
#discussion-new {
  line-height: 24px;
}
#discussion-new input,
#discussion-new textarea {
  width: 840px;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #8a8a8a;
  background: transparent;
}
#discussion-new input {
  margin-top: 30px;
}
#discussion-new textarea {
  height: 200px;
  margin-bottom: 30px;
}
#knowledge {
  padding-bottom: 20px;
}
#knowledge .more {
  background: #fff;
  color: #8a8a8a;
  margin: 5px 0;
  border: 1px solid #f2f2f2;
  margin-left: 70px;
  width: 720px;
}
#knowledge .knowledge-item .knowledge-content {
  padding: 20px;
  padding-left: 0;
  float: left;
  width: 840px;
  margin-bottom: 24px;
  color: #8a8a8a;
  background: #fff;
}
#knowledge .knowledge-item .knowledge-content textarea {
  border: none;
  width: 650px;
  height: 100px;
  display: block;
  padding: 10px;
  margin: 0;
  float: left;
  background: #fff;
}
#knowledge .knowledge-item .knowledge-content a {
  color: #8a8a8a;
}
#knowledge .knowledge-item .knowledge-content .hr {
  margin: 12px 0 12px 20px;
  border-top: 1px solid #f2f2f2;
}
#knowledge .knowledge-item .knowledge-content .t {
  float: left;
  position: relative;
  left: -9px;
  top: -20px;
  width: 20px;
  height: 50px;
  background: url(/static/img/avatar-t.png) no-repeat left top;
}
#knowledge .knowledge-item .knowledge-content .knowledge-true-content {
  padding-bottom: 20px;
  float: left;
}
#knowledge .knowledge-item .info {
  color: #8a8a8a;
  height: 24px;
  overflow: hidden;
}
#knowledge .knowledge-item .info span {
  cursor: pointer;
}
#knowledge .knowledge-item .info .left {
  float: left;
}
#knowledge .knowledge-item .info .left span {
  padding-right: 12px;
}
#knowledge .knowledge-item .info .right {
  float: right;
}
#knowledge .knowledge-item .info .right span {
  padding-left: 12px;
}
#knowledge .knowledge-item .ava {
  vertical-align: top;
  float: left;
  width: 48px;
  margin-left: 10px;
  margin-right: 10px;
}
#knowledge .knowledge-item .ava img {
  max-width: 100%;
}
#knowledge .knowledge-item .reply-item {
  color: #555;
  line-height: 24px;
  padding-left: 68px;
}
#knowledge .knowledge-item .reply-item span {
  color: #8a8a8a;
  padding-right: 24px;
}
#knowledge .knowledge-item input {
  border: 1px solid #f2f2f2;
  width: 620px;
  margin: 12px 20px 0 68px;
}
#user-notification-write {
  padding-bottom: 24px;
}
#user-notification-write input,
#user-notification-write textarea {
  width: 826px;
  border: 1px solid #f2f2f2;
  color: #8a8a8a;
  font-size: 12px;
  padding: 12px;
  margin: 6px 0;
  clear: both;
}
#user-notification-write #send-msg {
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  background: #6cf;
  width: 50px;
  padding: 12px;
  margin-top: 10px;
}
#no-pm {
  padding: 20px;
  line-height: 36px;
  font-size: 13px;
  color: #8a8a8a;
}
#knowledge-new-reply-bar,
#knowledge-new-question-bar {
  border: 1px solid #f2f2f2;
  border-top: none;
  margin-left: 70px;
  position: relative;
  top: -25px;
  width: 700px;
  padding: 10px;
  color: #555;
  text-align: left;
  font-size: 12px;
}
#knowledge-new-reply-bar-click,
#knowledge-new-question-bar-click {
  border: 1px solid #f2f2f2;
  margin-left: 703px;
  padding: 10px 30px;
  color: #555;
  cursor: pointer;
  position: relative;
  top: -10px;
  display: inline-block;
}
#knowledge-new-reply-bar-click:hover,
#knowledge-new-question-bar-click:hover {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: #8a8a8a;
  color: #fff;
}
#knowledge-new {
  padding-bottom: 20px;
}
#knowledge-new input,
#knowledge-new textarea {
  clear: both;
  border: 1px solid #f2f2f2;
  line-height: 2em;
  font-size: 14px;
  padding: 1em;
  width: 800px;
}
#knowledge-new textarea {
  margin: 0;
  height: 200px;
  margin-top: 20px;
}
#knowledge-new .markdown {
  width: 800px;
  overflow: hidden;
  margin-left: 0;
}
#user-follow #user-follow-list {
  padding: 20px;
}
#user-follow #user-follow-list li {
  padding: 5px 0;
}
#user-follow #user-follow-list li a {
  color: #575757;
  line-height: 24px;
}
#user-follow #user-follow-list li a:first-child {
  font-size: 16px;
}
#user-follow #user-follow-list li a:last-child {
  color: #8a8a8a;
  padding-left: 1em;
  font-size: 13px;
}
#user-notification {
  background: transparent;
}
#user-notification .talk-item {
  padding: 12px;
  margin: 25px;
  background: #fff;
}
#user-notification .talk-item.unread {
  border: 1px solid #0099ff;
}
#user-notification .talk-item .talk-content {
  background: transparent;
  float: left;
  width: 700px;
  padding: 0;
  margin-left: 12px;
}
#user-notification .talk-item .talk-content .info {
  color: #8a8a8a;
}
#user-notification .talk-item .talk-content .info a {
  color: #8a8a8a;
}
#user-notification .talk-item .talk-content .info a:hover {
  color: #00a0e9;
}
#user-notification .ava {
  float: left;
}
#user-notification .more {
  width: 900px;
  background: transport;
}
#user-notification #add-new-talk {
  background: #fff;
  line-height: 36px;
  padding: 18px;
  margin: 25px;
}
#user-notification #add-new-talk img {
  width: 36px;
  float: left;
  padding-right: 20px;
}
.group-item {
  height: 66px;
  width: 260px;
  background: #f6fbfd;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}
.group-item .ava {
  vertical-align: top;
  float: left;
  width: 48px;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 9px;
}
.group-item .ava img {
  max-width: 100%;
}
.group-item .group-item-content {
  float: left;
}
.group-item .group-item-content li {
  font-size: 13px;
  color: #22a7e2;
  padding-top: 14px;
  padding-bottom: 10px;
}
.group-item .group-item-content p {
  font-size: 12px;
  color: #929292;
}
.wenba-list-item {
  text-align: left;
}
.wenba-list-item.title .tags {
  width: 170px;
}
.wenba-list-item.title .author,
.wenba-list-item.title .last-reply {
  position: static;
  top: 0;
  line-height: 32px;
}
.wenba-list-item span[data-date=""] {
  position: static;
  top: 0;
  line-height: 32px;
}
.wenba-list-item span {
  display: inline-block;
  line-height: 32px;
}
.wenba-list-item .date {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 18px;
}
.wenba-list-item .id {
  width: 100px;
}
.wenba-list-item .item-title {
  width: 300px;
}
.wenba-list-item .item-title300 {
  width: 300px;
}
.wenba-list-item .tags {
  width: 170px;
}
.wenba-list-item .author,
.wenba-list-item .last-reply {
  width: 90px;
  position: relative;
}
.wenba-list-item .reply {
  width: 100px;
}
.wenba-list-item .ding {
  width: 70px;
}
.index-box2 {
  height: 225px;
  width: 400px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}
.index-box2 .index-title {
  width: 400px;
  float: left;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 8px;
  color: #0099ff;
}
.index-box2 .index-item {
  width: 200px;
  float: left;
  font-size: 13px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 25px;
}
.index-box2 .index-item2 {
  width: 400px;
  float: left;
  font-size: 13px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 25px;
  color: #191919;
}
.index-box1 {
  height: 185px;
  width: 180px;
  float: left;
  background: #fff;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.index-box1 .index-mode {
  font-size: 11px;
  padding-top: 15px;
  color: #8a8a8a;
}
.index-box1 .index-mode span {
  color: #0099ff;
}
.index-box1 .index-title {
  padding-top: 10px;
  font-size: 18px;
  height: 93px;
}
.index-box1 .index-title .a {
  color: #000;
}
.index-box1 .index-action {
  font-size: 13px;
  text-align: right;
  width: 180px;
}
.index-box1 .index-time {
  font-size: 28px;
  text-align: right;
  width: 180px;
}
.index-box1 .index-grey {
  color: #8a8a8a;
}
.index-span20 {
  margin-right: 20px;
}
#index-contest-a {
  color: #000;
}
#user-profile {
  overflow: hidden;
  padding-left: 25px;
}
.talk-text {
  word-break: break-word;
}
.editor-login {
  overflow: hidden;
  height: 225px;
  padding: 25px;
  border-top: 1px solid #ccc;
}
.talk-content .editor-login {
  border-top: 0px solid #ccc;
}
.editor-button {
  border: 0px;
  border-radius: 0px;
  background-color: #09f;
  text-align: center;
  line-height: 2em;
  padding: 0 2em;
  display: block;
  margin: 0.7em 0 0 0;
  color: white;
  cursor: pointer;
}
.editor-input {
  display: block;
  border: 1px solid #ccc;
  line-height: 2em;
  margin: 0.7em 0 0 0;
  width: 100%;
}
.editor-notice {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding-top: 3em;
  float: left;
  display: inline-block;
}
.editor-notice ul {
  padding: 1em;
  list-style: circle inside;
}
.editor-notice li {
  list-style: circle inside;
  line-height: 1.5em;
}
.editor-form {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 40%;
  height: 100%;
  float: left;
  display: inline-block;
  padding-left: 25px;
  padding-top: 3em;
  border-left: 1px solid #ccc;
}
#safecode {
  display: inline-block;
  float: left;
  border: 1px solid #ccc;
  line-height: 2em;
  margin: 0.7em 0 0.3em 0;
  width: 60%;
}
#safecode-info {
  display: inline-block;
  float: right;
  width: 35%;
  height: 30px;
  margin: 0.5em 0;
}
#setting-bar .right {
  float: right;
}
#setting-bar a.current {
  color: black;
  font-weight: 700;
}
#user-score > .section {
  overflow: hidden;
  padding: 2em 2em 2em 200px;
  position: relative;
}
.score-big {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 200px;
  text-align: center;
  height: 60px;
}
.score-big > .show {
  font-size: 32px;
  display: block;
  margin: auto;
}
.score-big > .label {
  display: block;
  color: #555;
  margin-top: 14px;
  font-size: 14px;
}
.score-detail .tag {
  display: inline-block;
  background-color: #6cf;
  color: white;
  padding: 0.2em 0.4em;
  line-height: 1em;
  margin-right: 0.3em;
}
