<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户支持记录</title>
</head>

<body background="http://public-oss.xiaohe97.com/002_2.jpg">
    <!--内容展示-->
    <table bgcolor="#fefefe" border="1" style="width: 80%;margin:auto">
        <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="5%">提出人</th>
                <th width="5%">状态</th>
                <th width="15%">问题描述</th>
                <th width="15%">解决方案</th>
                <th width="15%" title="用户为什么产生这个反馈">原因</th>
                <th width="5%" title="对于用户为什么产生这个反馈的原因进行分类">原因分类</th>
                <th width="15%">创建时间</th>
                <th width="15%">更新时间</th>
                <th width="5%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record:${records}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.commiter}"></td>
                <td th:text="${record.status}"></td>
                <td th:switch="${#strings.isEmpty(record.descLink)}">
                    <a th:case="true" th:href="@{${record.descLink}}" th:text="${record.desc}"/>
                    <p th:text="${record.desc}"/>
                </td>
                <td th:switch="${#strings.isEmpty(record.solutionLink)}">
                    <a th:case="true" th:href="@{${record.solutionLink}}" th:text="${record.solution}"/>
                    <p th:text="${record.solution}"/>
                </td>
                <td th:text="${record.cause}"/>
                <td th:text="${record.causeType}"/>
                <td th:text="${#dates.format(record.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                <td th:text="${#dates.format(record.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                <td>todo:编辑</td>
            </tr>
        </tbody>
    </table>
</body>
</html>